<tr id="hide">
  <td>
	  <%= form_tag(req_match_new_resumes_path, :onsubmit => "auto_hide_the_fields(event, \'#{@resume}\', 'Shortlisted');", remote: true) do %>
      <%= text_area_tag "comment",nil, :id => @resume %>
			<%= hidden_field_tag "resume_id", @resume %>
			<%= hidden_field_tag "type", "USER" %>
			<%= hidden_field_tag "req_id", @req_ids %>
			<%= hidden_field_tag "status", @status %>
			<%= submit_tag "Go" %>
		<% end %>
  </td>
</tr>
