<div class="top_padding_50">
  <div class="well well-sm">
    <span class="pull-right">
      <%= link_to "Back", :action => "index" %>
    </span>
		<% if ( params[:action] == "resumes_joining" ) %>
		  <span class="lead"> Joining (<%= @resumes.size %>)</span><br />
		<% end %>
		<% if ( params[:action] == "resumes_rejected" ) %>
		  <span class="lead"> Rejected Resumes (<%= @resumes.size %>)</span><br />
		<% end %>
		<span>
		  <% if @resumes.size == 0 %>
			  <%= "No Resumes Found" %>
			<% end %>
		</span>
  </div>

  <% if @resumes.size != 0 %>
    <div class="well well-sm">
      <div class="table-sm table-responsive">
        <table class="table table-striped table-condensed"> 
          <thead >
            <tr>
              <th>Resume Name</th>
              <th>Requirement Name</th>
              <th>joining Date</th>
              <th>Action</th>
						</tr>
					</thead>
					<tbody>
					  <% @resumes.each do |f| %>
					    <tr>
						    <td><%=link_to f.resume.name, { :action => "show", :id => f.resume.id } %></td>
						    <td><%= link_to f.requirement.name, {:controller => "requirements", :action => "show", :id => f.requirement.id } %></td>
						    <td><%= print_date(f.resume.joining_date) %></td>
						    <td><%= "Action" %></td>
						  </tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	<% end %>
</div>
